
    body {
        font-family: 'Lexend Zetta', sans-serif;
        font-weight: 400;
    }

    .font-lexend-300 {
        font-family: 'Lexend Zetta', sans-serif;
        font-weight: 300;
    }

    .font-lexend-400 {
        font-family: 'Lexend Zetta', sans-serif;
        font-weight: 400;
    }

    .font-lexend-700 {
        font-family: 'Lexend Zetta', sans-serif;
        font-weight: 700;

    }

    .font-lexend-900 {
        font-family: 'Lexend Zetta', sans-serif;
        font-weight: 900;

    }

    .text-primary {
        color: #006F9E;
    }

    .border-primary {
        border-color: #006F9E;
    }